body{
    color: #333;
    background: #f0f0f5;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
   background-color: rgb(245, 120, 141);
}
header h1{
    display: inline-block;
}
img{
    height: 150px;
    width: 150px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-left: 40%;
}
nav{
    text-align: center;
    box-shadow: 0 2px 2px;
}
nav a{color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 800;
}
nav a:hover{
    color: #ff748b;
}
#a{
    text-align: center;
    margin-top:40px;
}
button{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(245, 99, 123);
    border-radius: 10px;
    margin-left:44%;
    margin-top:10px;
    height: 40px;
    width: 200px;
    color: white;
    font-weight: 600;
}
button:hover{
    background-color: #b216f0; 
    color: white; 
    transform: scale(1.05); 
}
#d, ul{
   list-style-type: none;
   text-align: center;
}
.skill{
    margin-top: 65px;
    text-align: center;
}
#d li{
    background-color: #e3fce5ba;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.511);
            width: 80%;
            margin: 8px;
            margin-left: 8%;
}
#e{
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 2px 10px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    background-color: #edddf3d1;
    border-radius: 10px;
}
#last{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 2rem;
}